.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    background-color: #f2f2f2;
}

.texto {
    text-align: center;
    margin-bottom: 2rem;
}

.texto h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.texto p {
    font-size: 18px;
    line-height: 1.5;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.foto img {
    width: 60%;
    max-height: 80vh;
    object-fit: cover;
    border-radius: 40%;
    border: 3px solid rgb(133, 45, 118);
}

@media (min-width: 768px) {
.sobre-container {
    flex-direction: row;
}

.texto {
    flex: 1;
    text-align: left;
    margin-bottom: 0;
}

.foto {
    flex: 1;
    margin-top: 0;
}
}
