body#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.meu-inicio-section .inicio-react-developer {
  gap: 2mm;
}

.inicio-section {
  height: 910px;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(64, 41, 96, 1), rgba(255, 255, 255, 0.2));
}

.projetos-section {
  height: 910px;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), #dfb4e7);
}




